In [2]:
import tweepy
from twarc import Twarc2, expansions
from wordcloud import WordCloud
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import nltk
from pylab import rcParams
rcParams['figure.figsize'] = 12, 8
from nltk.stem.porter import PorterStemmer as PS
import time
import schedule
import datetime
import gc

In [ ]:
#lemmatization
import stanza
stanza.download('en') # download English model
nlp = stanza.Pipeline('en') # initialize English neural pipeline
doc = nlp("Barack Obama was born in Hawaii.") # run annotation over a sentence

In [ ]:
import stanza

nlp = stanza.Pipeline(lang='en', processors='tokenize,mwt,pos,lemma')
doc = nlp('Her bags are better than his.')
print(*[f'word: {word.text+" "}\tlemma: {word.lemma}' for sent in doc.sentences for word in sent.words], sep='\n')

In [ ]:
#lemmatization
nlp = stanza.Pipeline(lang='en', processors='tokenize,mwt,pos,lemma')

def lemma(txt):
    s = ''
    doc = nlp(txt)
    
    for sent in doc.sentences:
        for word in sent.words:
            s += word.lemma + ' '
    
    return s

In [9]:
df1 = pd.read_csv('./tweet-sentiment/2021-01_slist.csv',usecols = ['Compound'])
df2 = pd.read_csv('./tweet-sentiment/2021-01_slist_Number0.csv', usecols = ['Compound'])

In [6]:
df1["bool"] = (df1['Compound'] == df2['Compound'])

In [10]:
df_comp = df1.compare(df2)
df_comp

        Compound
            self   other
3319     -0.2023  0.2023
6616     -0.2023  0.2023
7805     -0.3818  0.0000
10884    -0.3818  0.0000
11622    -0.3818  0.0000
...          ...     ...
1563274  -0.8112 -0.6977
1563332   0.7351  0.4404
1569009  -0.1280  0.2732
1570062  -0.0258  0.5859
1571167   0.6900  0.2714

[619 rows x 2 columns]

In [11]:
#del df3
gc.collect()

46

In [3]:
import zipfile
df = pd.read_csv('./binance/BTCUSDT/1d/BTCUSDT-1d-2021-01.zip', compression='zip', header = None)
df.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11
0,1609459200000,28923.63,29600.00,28624.57,29331.69,54182.925011,1609545599999,1.582527e+09,1314910,27455.801725,8.022477e+08,0
1,1609545600000,29331.70,33300.00,28946.53,32178.33,129993.873362,1609631999999,4.073842e+09,2245922,67446.305246,2.110335e+09,0
2,1609632000000,32176.45,34778.11,31962.99,33000.05,120957.566750,1609718399999,4.057598e+09,2369698,59750.332871,2.004428e+09,0
3,1609718400000,33000.05,33600.00,28130.00,31988.71,140899.885690,1609804799999,4.429010e+09,2642408,69088.469230,2.173435e+09,0
4,1609804800000,31989.75,34360.00,29900.00,33949.53,116049.997038,1609891199999,3.743617e+09,2526851,59691.754755,1.927195e+09,0
5,1609891200000,33949.53,36939.21,33288.00,36769.36,127139.201310,1609977599999,4.431954e+09,2591783,63052.914652,2.199632e+09,0
6,1609977600000,36769.36,40365.00,36300.00,39432.28,132825.700437,1610063999999,5.062570e+09,2814686,65055.107136,2.482583e+09,0
7,1610064000000,39432.48,41950.00,36500.00,40582.81,139789.957499,1610150399999,5.568443e+09,2925632,67300.155216,2.684975e+09,0
8,1610150400000,40586.96,41380.00,38720.00,40088.22,75785.979675,1610236799999,3.054779e+09,1998156,37007.321909,1.491991e+09,0
9,1610236800000,40088.22,41350.00,35111.11,38150.02,118209.544503,1610323199999,4.604035e+09,2628050,55451.344673,2.160977e+09,0

In [2]:
a=1612051200000
b=1611964800000
print((a-b)/24,(a-b)/(24*3600))

3600000.0 1000.0

In [6]:
import pandas as pd
print (pd.__file__)

C:\Users\zxxxs\anaconda3\lib\site-packages\pandas\__init__.py