In [39]:
#ライブラリ
import tweepy
import nltk
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt

In [40]:
#Twitter API config読み込み
config = pd.read_csv("./config.csv")

In [47]:
# Twitter API config
twitterApiKey = config['twitterApiKey'][0]
twitterApiSecret = config['twitterApiSecret'][0]
twitterApiAccessToken = config['twitterApiAccessToken'][0]
twitterApiAccessTokenSecret = config['twitterApiAccessTokenSecret'][0]

In [54]:
# Authenticate
auth = tweepy.OAuthHandler(twitterApiKey, twitterApiSecret)
auth.set_access_token(twitterApiAccessToken, twitterApiAccessTokenSecret)
api = tweepy.API(auth, wait_on_rate_limit = True)

In [55]:
# ツイートを取得
s="btc min_faves:1000 min_retweets:1000 exclude:retweets"
tweets = tweepy.Cursor(api.search,  
#                        count=10,
                        q=s,
                        exclude_replies=True,
                        tweet_mode='extended',
                        lang = 'en',
                        since='2021-07-08',
                        until='2021-07-12'
                        ).items(10);

In [56]:
#処理前ツイート出力
df = pd.DataFrame(data=[tweet.full_text for tweet in tweets], columns=['Tweet'])

In [57]:
#処理前ツイート先頭10件
df.head(10)

                                               Tweet
0  The Blue Dollar (Informal ARS/USD exchange rat...
1  BTCEarn Amazing Rewards Coin!💎\n\nNew Presale ...
2  📣$70K #BTC+#BSC GIVEAWAY 📣\n\nOn behalf of the...
3  FINALLY PHASE 1 HAS BEEN LAUNCHED!!!!!!!!!!!!!...
4  I am here to unite Paraguay 🇵🇾, that is why we...
5  $1000 #BNB &amp; NFT GIVEAWAY (via @Treasurela...
6  🐕 DogeBTC 🐕 Whitelist is now live! Join here: ...
7  Apple co-founder Steve Wozniak Calls #Bitcoin ...
8  @MattWallace888 BTC &amp; ETH are pursuing a m...
9  💎$15,000 GIVEAWAY💎\nI will send 50 #bnb to 5 p...

In [52]:
#処理前ツイート末尾10件
df.tail(10)

                                               Tweet
0  The Blue Dollar (Informal ARS/USD exchange rat...
1  BTCEarn Amazing Rewards Coin!💎\n\nNew Presale ...
2  📣$70K #BTC+#BSC GIVEAWAY 📣\n\nOn behalf of the...
3  FINALLY PHASE 1 HAS BEEN LAUNCHED!!!!!!!!!!!!!...
4  I am here to unite Paraguay 🇵🇾, that is why we...
5  $1000 #BNB &amp; NFT GIVEAWAY (via @Treasurela...
6  🐕 DogeBTC 🐕 Whitelist is now live! Join here: ...
7  Apple co-founder Steve Wozniak Calls #Bitcoin ...
8  @MattWallace888 BTC &amp; ETH are pursuing a m...
9  💎$15,000 GIVEAWAY💎\nI will send 50 #bnb to 5 p...

In [53]:
df.to_csv("test.csv")